:root {
    --bg: rgb(198, 240, 144);
    --hdr: rgb(241, 231, 138);
    --text: rgb(37, 35, 34);
    --divbg: linear-gradient(to bottom, rgb(138, 247, 111), rgb(197, 233, 97));
}  
.darkmode{
    --bg: rgb(37, 35, 34);
    --hdr: rgb(37, 35, 34);
    --text: rgb(219, 209, 204);
    
}
* {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

div {
    border-radius: 10px;
    border-width: 5px;
    border-color: rgb(18, 131, 46);
    border-style: inset;

    margin-top: 10px;

    padding: 5px;

    background-image: var(--divbg);
}

body {
    background-color: var(--bg);
}

#mainstuff {
    width: 50%;
    margin: auto;
    padding: 2.5%;
}

header {
    background-color: var(--hdr);

    text-align: center;

    color: var(--text);

    border-radius: 50px;
    border-width: 5px;
    border-color: rgb(18, 131, 46);
    border-style: inset;
}

#ptlogo {
    height: 30%;
    width: 30%;
}

#theButton {
    display: flex;
    justify-content: center;

    margin-top: 45px;
}


button {
    width: 100%;
    padding: 10px;

    background-color: rgb(56, 117, 37);

    color: rgb(221, 236, 196);

    border-width: 5px;
    border-radius: 10px;
    border-color: rgb(221, 236, 196);
    border-style: inset;

    font-weight: bold;
}
button:hover {
    background-color: rgb(48, 105, 31);
    cursor: pointer;
}

/*highlight stuff*/
.solly {background-color: rgb(234, 153, 153);}
.demo {background-color: rgb(164, 194, 244);}
.med {background-color: rgb(255, 217, 102);}
.xplosive {background-color: rgb(246, 178, 107);}
.multi {background-color: rgb(147, 196, 125);}

footer {
    margin-top: 45px;
    text-align: center;
}

.info {
    font-style: italic;
}

.Impinfo {
    font-weight: bold;
}

/*center this poggers PLEASE im noob*/
.gif {
    height: auto;
    width: 400px;

    border-radius: 10px;
}

video {
    height: auto;
    width: 400px;

    border-radius: 10px;
}
#theme-switch {
    width: 50px;
    height: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
}
#theme-switch img:last-child {
    display: none;
}
.darkmode #theme-switch img:first-child {
    display: none;
}
.darkmode #theme-switch img:last-child {
    display: block;
}