h1 {
    font-size: xx-large;
    font-family: "Bebas Neue", sans-serif;
}

p{
    text-align: justify;
    font-family: "Poppins", sans-serif;
}

.lift {
    transition: transform .5s cubic-bezier(0.25, 1.2, 0.5, 1), box-shadow 0.22s ease;
    cursor: pointer;
}

.lift:hover {
    transform: translateY(-6px) scale(1.015);
}

a {
    font-family: inherit;
}

hi {
    font-family: inherit;
}

video:hover {
    transform: scale(1);
    cursor: default;
}