:root {
    /* bg colors */
    --bg: rgb(198, 240, 144); /* <body> color */
    --hdr: rgb(241, 231, 138); /* <header> color */
    --hdrbc: rgb(18, 131, 46); /* <header> border color */
    --divbg: linear-gradient(to bottom, rgb(138, 247, 111), rgb(197, 233, 97)); /* <div> background */
    --divbc: rgb(18, 131, 46); /* <div> border color */

    --text: rgb(0, 0, 0); /* text color */

    /* highlight colors */
    --solly: rgb(234, 153, 153);
    --demo: rgb(164, 194, 244);
    --med: rgb(255, 217, 102);
    --xplosive: rgb(246, 178, 107);
    --multi: rgb(147, 196, 125);

    --txtshadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* text shadow */
    --anchorcolor: purple; /* <a> color */

    /* button colors */
    --btncolor: rgb(56, 117, 37);
    --btnhover: rgb(48, 105, 31);
    --btnactive: rgb(40, 93, 25);

    --preloader: rgb(255, 255, 255); /* preloader background color */

    --msOpacity: 0.9; /* mainstuff opacity */
}  
.darkmode{
    /* bg colors */
    --bg: rgb(37, 35, 34); /* <body> color */
    --hdr: rgb(37, 35, 34); /* <header> color */
    --hdrbc: rgb(219, 209, 204); /* <header> border color */
    --divbg: linear-gradient(to bottom, rgb(63, 60, 60), rgb(88, 87, 87)); /* <div> background */
    --divbc: rgb(121, 119, 117); /* <div> border color */

    --text: white; /* text color */

    /* highlight colors */
    --solly: rgb(174, 13, 13);
    --demo:rgb(63, 116, 204);
    --med: rgb(245, 194, 51);
    --xplosive: rgb(204, 149, 93);
    --multi: rgb(97, 161, 69);

    --txtshadow: 5px 5px 15px rgba(0, 0, 0, 1); /* text shadow */
    --anchorcolor: violet; /* <a> color */

    /* button colors */
    --btncolor: rgb(37, 35, 34);
    --btnhover: rgb(15, 15, 14);
    --btnactive: rgb(0, 0, 0);

    --preloader: rgb(0, 0, 0); /* preloader background color */

    --msOpacity: 0.95; /* mainstuff opacity */
}

*{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: var(--text);
    text-shadow: var(--txtshadow);
}

#preloader {
    background: var(--preloader);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    border-radius: 0px;
    border-width: 0px;
    border-color: none;
    border-style: none;

    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

#myBtn {
    display: block;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity 250ms ease, transform 250ms ease, visibility 250ms ease;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 99;
    color: white;
    cursor: pointer;
    padding: 15px;
    transition: all ease-in-out 0.3s;
}

#myBtn.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

#myBtn:hover {
    background-color: var(--btnhover);
}

div {
    border-radius: 10px;
    border-width: 5px;
    border-color: var(--divbc);
    border-style: inset;

    margin-top: 10px;

    padding: 5px;

    background-image: var(--divbg);
}

body {
    background-color: var(--bg);
}

#mainstuff {
    width: 50%;
    margin: auto;
    padding: 2.5%;
    border-radius: 25px;
    opacity: var(--msOpacity);
}

header {
    background-color: var(--hdr);

    text-align: center;

    color: var(--hdrtext);

    border-radius: 50px;
    border-width: 5px;
    border-color: var(--hdrbc);
    border-style: inset;
}

.ptlogo {
    height: 30%;
    width: 30%;
}

#bglogo {
    opacity: 0.5;
    width: 50%;
    position: fixed;
    z-index: -1;
    bottom: 0px;
    left: 0px;
}

#theButton {
    display: flex;
    justify-content: center;

    margin-top: 45px;
}


button {
    width: 100%;
    padding: 10px;

    background-color: var(--btncolor);

    color: rgb(221, 236, 196);

    border-width: 5px;
    border-radius: 10px;
    border-color: rgb(221, 236, 196);
    border-style: inset;

    font-weight: bold;
    transition: all ease-in-out 0.3s;
}

button:hover {
    background-color: var(--btnhover);
    cursor: pointer;
    transform: scale(1.05);
}

button:active {
    background-color: var(--btnactive);
    transform: scale(0.95);
    transition: transform 0.3s ease;
}

footer {
    margin-top: 45px;
    text-align: center;
}
.tiny {
    width: 30vw;
    height: auto;
}
.info {
    font-style: italic;
}

.Impinfo {
    font-weight: bold;
}

#bait {
    width: 30%;

    display: flex;
    justify-content: center;
    margin: 10px auto;
}

/* code by sashalegeughsse */
video { 
    display: flex;
    justify-content: center;
    margin: 10px auto;
    width: 100%;
    height: auto;
    max-width: 800px;

    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

#theme-switch {
    width: 50px;
    height: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
}

#theme-switch img:last-child {
    display: none;
}

.darkmode #theme-switch img:first-child {
    display: none;
}

.darkmode #theme-switch img:last-child {
    display: block;
}

a {
    color: var(--anchorcolor);
    font-style: italic;
}
.italic {
    font-style: italic;
}
.bold {
    font-weight: bold;
}
.calloutImg {
    height: 100%;
    width: 100%;

    border-radius: 10px;
}

.miniExample {
    height: 150px;
    width: auto;

    border-radius: 10px;

    margin-top: 10px;
    margin-right: 10px;
}
.pdf {
    display: block;
    margin: 10px auto;
    width: 100%;
    height: 25vw;
    max-width: 800px; 

    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
.download {
    display: block;
    margin: 10px auto;
    width: auto;
    padding: 10px;

    background-color: rgb(56, 117, 37);

    color: rgb(221, 236, 196);

    border-width: 5px;
    border-radius: 10px;
    border-color: rgb(221, 236, 196);
    border-style: inset;

    font-weight: bold;
    text-align: center;
}